@import '_nav';

.card {
    border-radius: 15px;
    width: 20rem;
    height: 10rem;
}

.default {
    transition: .4s;
    color: #000;
    text-shadow: 0 0 20px black;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 40px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}

.eqtesad-novin {
    transition: .4s;
    color: #fff;
    text-shadow: 0 0 20px black;
    background-color: rgba(64, 12, 184, 0.4);
    box-shadow: 0 0 40px rgb(88, 0, 146);
    backdrop-filter: blur(5px);
}

.ansar {
    transition: .4s;
    color: #fff;
    text-shadow: 0 0 20px black;
    background-color: rgba(187, 124, 8, 0.4);
    box-shadow: 0 0 40px rgb(146, 132, 0);
    backdrop-filter: blur(5px);
}

.iran-zamin {
    transition: .4s;
    color: #000;
    text-shadow: 0 0 20px black;
    background-color: rgba(217, 152, 255, 0.4);
    box-shadow: 0 0 40px rgb(126, 0, 115);
    backdrop-filter: blur(5px);
}

.parsian {
    transition: .4s;
    color: #000;
    text-shadow: 0 0 20px black;
    background-color: rgba(255, 242, 199, 0.4);
    box-shadow: 0 0 40px rgb(187, 153, 0);
    backdrop-filter: blur(5px);
}

.pasagurd {
    transition: .4s;
    color: rgb(255, 196, 0);
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 40px rgb(255, 196, 0);
    backdrop-filter: blur(5px);
}

.ayande {
    transition: .4s;
    color: #000;
    background-color: rgba(5, 67, 240, 0.4);
    box-shadow: 0 0 40px rgb(0, 162, 255);
    backdrop-filter: blur(5px);
}

.tejarat {
    transition: .4s;
    color: #000;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 225, 255, 0.4);
    box-shadow: 0 0 40px rgb(0, 89, 255);
    backdrop-filter: blur(5px);
}

.tosee-tavon {
    transition: .4s;
    color: #000;
    background-color: rgba(150, 241, 253, 0.4);
    box-shadow: 0 0 40px rgb(46, 119, 255);
    backdrop-filter: blur(5px);
}

.tosee-saderat-iran {
    transition: .4s;
    color: rgb(255, 196, 0);
    text-shadow: 0 0 20px black;
    background-color: rgba(9, 255, 0, 0.4);
    box-shadow: 0 0 40px rgb(150, 122, 0);
    backdrop-filter: blur(5px);
}

.hekmat-iranian {
    transition: .4s;
    color: #000000;
    text-shadow: 0 0 20px black;
    background-color: rgb(192, 192, 192, 0.4);
    box-shadow: 0 0 40px rgb(0, 15, 150);
    backdrop-filter: blur(5px);
}

.dey {
    transition: .4s;
    color: #000;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 238, 255, 0.4);
    box-shadow: 0 0 40px rgb(96, 197, 255);
    backdrop-filter: blur(5px);
}

.refah-karegaran {
    transition: .4s;
    color: #000;
    text-shadow: 0 0 20px black;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 40px rgb(62, 125, 161);
    backdrop-filter: blur(5px);
}

.saman {
    transition: .4s;
    color: #ffffff;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 55, 175, 0.4);
    box-shadow: 0 0 40px rgb(0, 217, 255);
    backdrop-filter: blur(5px);
}

.sepah {
    transition: .4s;
    color: #000000;
    text-shadow: 0 0 20px black;
    background-color: rgba(255, 174, 0, 0.4);
    box-shadow: 0 0 40px rgb(192, 192, 192);
    backdrop-filter: blur(5px);
}

.sarmaye {
    transition: .4s;
    color: #ffffff;
    text-shadow: 0 0 20px black;
    background-color: rgba(68, 0, 255, 0.4);
    box-shadow: 0 0 40px rgb(255, 255, 255);
    backdrop-filter: blur(5px);
}

.sina {
    transition: .4s;
    color: #000000;
    text-shadow: 0 0 20px black;
    background-color: rgba(255, 187, 0, 0.4);
    box-shadow: 0 0 40px rgb(255, 238, 0);
    backdrop-filter: blur(5px);
}

.shahr {
    transition: .4s;
    color: #ffffff;
    text-shadow: 0 0 20px black;
    background-color: rgba(202, 0, 0, 0.4);
    box-shadow: 0 0 40px rgb(235, 0, 0);
    backdrop-filter: blur(5px);
}

.saderat-iran {
    transition: .4s;
    color: #000000;
    text-shadow: 0 0 20px black;
    background-color: rgba(173, 173, 173, 0.4);
    box-shadow: 0 0 40px rgb(0, 119, 255);
    backdrop-filter: blur(5px);
}

.sanat-va-madan {
    transition: .4s;
    color: #ffffff;
    text-shadow: 0 0 20px black;
    background-color: rgba(3, 0, 173, 0.4);
    box-shadow: 0 0 40px rgb(99, 141, 233);
    backdrop-filter: blur(5px);
}

.qarz-alhasane {
    transition: .4s;
    color: #ffffff;
    text-shadow: 0 0 20px black;
    background-color: rgba(69, 173, 0, 0.4);
    box-shadow: 0 0 40px rgb(133, 60, 0);
    backdrop-filter: blur(5px);
}

.qavamim {
    transition: .4s;
    color: #000000;
    text-shadow: 0 0 20px black;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 40px rgb(206, 20, 20);
    backdrop-filter: blur(5px);
}

@media only screen and (max-width:990px) {
    .card {
        width: 17rem;
    }

    .input {
        width: 17rem !important;
    }
}

.bi-wifi {
    transform: rotate(90deg);
}

.input {
    border: 1px solid black;
    outline: none;
    width: 20rem;
    box-shadow: 0 0 20px black;
}

.light {
    background: url('../images/card/light.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.dark {
    background: url('../images/card/dark.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}