@import'_nav';

.main {
    user-select: none;
    height: 300px;
    width: 300px;
    transform: rotate(0deg);
    background-color: red;
    border-radius: 10px;
    animation: spin 1s linear infinite forwards;
}

.load {
    border-radius: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    animation: shadow 1s linear infinite forwards;
    box-shadow: 0 0 25px rgb(0, 0, 0);
}

.bg-dark {
    background-color: #343434;
}

.text-loader {
    animation: stop 1s linear infinite forwards;
    font-size: 30px;
}

@keyframes spin {
    0% {
        background-color: red;
        transform: rotate(0deg);
        border-radius: 10px;
        box-shadow: 0 0 25px red;
    }

    50% {
        background-color: green;
        transform: rotate(180deg);
        border-radius: 50%;
        box-shadow: 0 0 25px green;
    }

    100% {
        background-color: blue;
        transform: rotate(360deg);
        border-radius: 10px;
        box-shadow: 0 0 25px blue;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 25px rgb(0, 0, 0);
    }

    50% {
        border-radius: 50%;
        box-shadow: 0 0 50px rgb(0, 0, 0);
    }

    100% {
        box-shadow: 0 0 25px rgb(0, 0, 0);
    }
}

@keyframes stop {
    0% {
        color: red;
        transform: rotate(0deg);
    }

    50% {
        color: green;
        transform: rotate(-180deg);
    }

    100% {
        color: blue;
        transform: rotate(-360deg);
    }
}

@media only screen and (max-width:990px) {
    .main {
        height: 200px;
        width: 200px;
    }

    .load {
        height: 150px;
        width: 150px;
    }

    .text-loader {
        font-size: 20px;
    }
}