@import '_nav';

.loader {
    gap: 10px;

    &::before,
    &::after {
        content: "";
        height: 1.3rem;
        aspect-ratio: 3/2;
        border-radius: 50%;
        background:
            linear-gradient(#222222 0 0) top/100% 40% no-repeat,
            radial-gradient(farthest-side, #000000 95%, #00000000) 50%/8px 8px no-repeat #dbdbdb;
        animation: eye 1.5s infinite alternate ease-in;
    }
}

@keyframes eye {

    70% {
        background-size: 100% 40%, 8px 8px
    }

    85% {
        background-size: 100% 120%, 8px 8px
    }

    100% {
        background-size: 100% 40%, 8px 8px
    }
}