@font-face {
  font-family: adobemingstd;
  src: url("../font/adobemingstd-light.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: adobemingstd;
}

.body {
  transition: 0.4s;
}

.bi-sun {
  color: rgb(250, 225, 0);
  text-shadow: 0 0 14px rgb(0, 217, 255);
  cursor: pointer;
  transition: 0.3s;
  animation: rotate 5s linear infinite forwards;
}
.bi-sun:hover {
  color: rgb(216, 195, 5);
  transition: 0.3s;
  text-shadow: 0 0 27px rgb(0, 217, 255);
}

.bi-moon {
  color: #fafafa;
  text-shadow: 0 0 14px rgb(0, 38, 255);
  cursor: pointer;
  transition: 0.3s;
  animation: rotate 5s linear infinite forwards;
}
.bi-moon:hover {
  transition: 0.3s;
  color: #dbdbdb;
  text-shadow: 0 0 27px rgb(0, 38, 255);
}

.bg {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.7960784314);
}

.bg-2 {
  transition: 0.3s;
  background-color: rgba(180, 180, 180, 0.7960784314);
}

.bg-3 {
  transition: 0.3s;
  background-color: rgba(15, 15, 15, 0.9254901961);
}

.vh {
  height: 90vh;
}

.text {
  color: #000000;
  transition: 0.3s;
}
.text:hover {
  color: #7e7e7e;
}

.text-2 {
  color: #ffffff;
  transition: 0.3s;
}
.text-2:hover {
  color: #adadad;
}

.offcanvas-btn {
  border: none;
  background-color: transparent;
  color: #000000;
  transition: 0.3s;
}
.offcanvas-btn:hover {
  color: #7e7e7e;
}

.offcanvas-btn2 {
  color: #ffffff;
}
.offcanvas-btn2:hover {
  color: #adadad;
}

.bi-x-lg {
  border: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
  transition: 0.1s;
}
.bi-x-lg:hover {
  transition: 0.1s;
  transform: scale(1.1);
}

.links {
  color: rgb(17, 0, 255);
  transition: 0.4s;
  text-shadow: 0 0 2px black;
}
.links:hover {
  color: rgb(0, 153, 255);
}

.links2 {
  color: rgb(255, 255, 255);
}
.links2:hover {
  color: rgb(112, 112, 112);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  user-select: none;
  height: 300px;
  width: 300px;
  transform: rotate(0deg);
  background-color: red;
  border-radius: 10px;
  animation: spin 1s linear infinite forwards;
}

.load {
  border-radius: 10px;
  text-align: center;
  height: 250px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  animation: shadow 1s linear infinite forwards;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  transition: 0.3s;
}

.bg-dark {
  background-color: #343434;
}

.text-loader {
  animation: stop 1s linear infinite forwards;
  font-size: 30px;
}

@keyframes spin {
  0% {
    background-color: red;
    transform: rotate(0deg);
    border-radius: 10px;
    box-shadow: 0 0 25px red;
  }
  50% {
    background-color: green;
    transform: rotate(180deg);
    border-radius: 50%;
    box-shadow: 0 0 25px green;
  }
  100% {
    background-color: blue;
    transform: rotate(360deg);
    border-radius: 10px;
    box-shadow: 0 0 25px blue;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 25px rgb(0, 0, 0);
  }
  50% {
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(0, 0, 0);
  }
  100% {
    box-shadow: 0 0 25px rgb(0, 0, 0);
  }
}
@keyframes stop {
  0% {
    color: red;
    transform: rotate(0deg);
  }
  50% {
    color: green;
    transform: rotate(-180deg);
  }
  100% {
    color: blue;
    transform: rotate(-360deg);
  }
}
@media only screen and (max-width: 990px) {
  .main {
    height: 200px;
    width: 200px;
  }
  .load {
    height: 150px;
    width: 150px;
  }
  .text-loader {
    font-size: 20px;
  }
}

/*# sourceMappingURL=loader.css.map */
